.base-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #294c71;
    .icons-title {
        width: 170px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        i {
            font-size: 2.2rem;
            color: grey;
            cursor: pointer;
        }
        h4 {
            font-size: 1.5rem;
            color: white;
            font-family: 'Alice', 'Fira Sans', sans-serif;
        }
    }
    .options {
        width: 250px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .photo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: green;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i {
            font-size: 2.0rem;
            color: grey;
            cursor: pointer;
        }
    }
    .search {
        width: calc(100% - 500px);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            width: 60%;
            height: 60%;
            -webkit-appearance: textfield;
            background-color: #e0e0e0;
            border: 0.3px solid #e0e0e0;
            color: black;
            border-radius: 5px;
            padding-left: 10px;
        }
    }
    .humberger-overlay {
        z-index: 20;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        .head {
            width: 30%;
            height: 150px;
            background-color: blue;
        }
        .cont {
            width: 30%;
            height: calc(100% - 150px);
            background-color: green;
        }
    }
    .cache-menu {
        display: none;
        transition: width 1s;
    }
}