<div class="base-content">

    <div class="header">
        <h3>Ajouter un produit</h3>
    </div>
        <form class="detaille">
          <div class="information">
            <h3>information du prouit</h3>
            <div class="champs">
              <div class="title common">
                <label for="title" >Titre</label>
                  <input id="title" type="text" placeholder="Le Titre du produit">
              </div>
              <div class="categorie common">
                    <label for="categorie" >Categorie</label>
                    <select name="categorie" id="categorie">
                        <option value="0">Riz</option>
                        <option value="1">farine</option>
                    </select>
              </div>
              <div class="price-qte common">
                  <div class="prix">
                      <label for="" >Prix</label>
                      <input id="price" type="number" placeholder="Le Titre du produit">
                  </div>
                  <div class="quantite">
                      <label for="qte" >Quantité</label>
                      <input id="qte" type="number" placeholder="Le Titre du produit">
                  </div>
              </div>
              <div class="price-qte common">
                    <div class="Code-barre">
                        <label for="Code-barre" >Code Barre</label>
                        <input id="code-barre" type="text" placeholder="Code Barre">
                    </div>
                    <div class="marque">
                            <label for="marque" >Marque</label>
                            <input id="marque" type="text" placeholder="Le poid en kg">
                    </div>
                </div>
            </div>
          </div>
          <div class="tiret"></div>
          <div class="information">
            <h3>Caracteristique du produit</h3>
            <div class="champs">
              <div class="price-qte common">
                  <div class="taille">
                      <label for="taille" >Taille</label>
                      <input id="taille" type="text" placeholder="La taille en cm">
                  </div>
                  <div class="poid">
                      <label for="poid" >Poid</label>
                      <input id="poid" type="number" placeholder="Le poid en kg">
                  </div>
                  
              </div>
              <div class="price-qte common">
                    <div class="conserve">
                        <label for="conserve" >Conservation</label>
                        <input id="conserve" type="text" placeholder="Temperature">
                    </div>
                    <div class="couleur">
                            <label for="couleur" >Couleur</label>
                            <select name="" id="couleur">
                                <option value="2">Indefinie</option>
                                <option value="0">Blanche</option>
                                <option value="1">Rouge</option>
                            </select>
                        </div>
                </div>
                <div class="price-qte common">
                        <div class="dte-exp">
                            <label for="dte-exp" >Date Fabrication</label>
                            <input id="dte-exp" type="date" placeholder="Date de fabrication">   
                        </div>
                        <div class="dte-exp">
                            <label for="dte-exp" >Date expiration</label>
                            <input id="dte-exp" type="date" placeholder="Date Expiration">   
                        </div>
                    </div>
            </div>
          </div>
          <div class="tiret"></div>
          <div class="information">
                <h4>Description du produit</h4>
                <div class="champs">
                  <div class="desc common">
                      <div class="desc">
                          <label for="desc" >Description</label>
                          <input multiple id="desc" type="text" placeholder="Description du produit">
                      </div>
                      
                  </div>
                </div>
              </div>
        </form>
</div>