<div class="base-content">

    <div class="header">
        <h3>Ajouter un produit</h3>
    </div>

    <div class="detaille">
        <form>
            <div class="title">
                <label for="title">Titre du produit</label>
                <input type="text" id="title" placeholder="Titre du produit" maxlength="100">
            </div>
            <div class="categorie">
                <label for="categorie">Categorie du produit</label>
                <select name="categorie" id="categorie">
            <option value="lait"> Lait</option>
          </select>
            </div>
            <div class="price-qte">
                <div class="price">
                    <label for="price">prix de vente</label>
                    <input type="text" placeholder="Prix" id="price">
                </div>
                <div class="qte">
                    <label for="qte">prix de vente</label>
                    <input type="text" placeholder="quantite" id="qte">
                </div>
            </div>
        </form>
    </div>

</div>