$menu_width: 100px;
$func_header_height: 60px;
.func-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    width: calc(100% - #{$menu_width});
    height: $func_header_height;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba($color: #000, $alpha: .05);
    .search {
        width: 45%;
        height: 35px;
        border: none;
        padding: 0 7px;
        border-radius: 3px;
        background-color: #e5ecf4;
    }
}

.func-content {
    width: 100%;
    display: flex;
    position: relative;
    padding: 5px;
    top: $func_header_height;
    .option {
        width: 250px;
        position: fixed;
        margin: 5px;
        left: $menu_width;
        height: 85vh;
        h3{
            font-size: 1.4em;
            font-weight: bold;
            margin: 20px 0 5px 20px;
        }
        .filter{
            width: 250px;
            height: 150px;
            position: relative;
        }
        .categorie{
            width: 250px;
            height: 400px;
            position: relative;
        }
        .items{
            width: 100%;
            height: 25px;
            font-size: 1.2em;
            margin: 5px 30px;
            display: flex;
            flex-direction: column;
        }
    }
    
    .product-list {
        width: calc(100% - 255px);
        height: 600px;
        position: relative;
        left:  255px;
       
        padding: 5px;
    }
    
            #affiche-produit {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            h3 {
                width: 300px;
            }
}