<div class="func-header">
    <h1>Mes produits</h1>
    <input class="search" type="search" placeholder="Chercher un produit ici ">

</div>
<div class="func-content">
    <div class="option">
        <h3>Filtré</h3>
        <div class="filter">
          <div class="items" *ngFor="let filter of filters ">
              <input type="checkbox" name="choix" id="">
              {{filter.name}}
          </div>  
        </div>
        <h3>Categorie</h3>
        <div class="categorie">
            <div class="items" *ngFor="let categorie of categories ">
                <input type="checkbox" ngModel>
                {{categorie.name}}
            </div>   
        </div>
    </div>
    <div class="product-list">
                <h3>Tout les categorie de produits</h3>
                <div id="affiche-produit" >
                    <app-prototype-produit *ngFor="let table of tableau"></app-prototype-produit>
                </div> 
    </div>
  
</div>