<div id="contente">
    <div id="photo">
        <img src="https://tse1.mm.bing.net/th?id=OIP.ksJvMXlofCQpgQsMphaIAQHaE6&pid=Api&P=0&w=278&h=185" alt="">
    </div>
    <div id="info">
        <h4>Pull 100% coton valider par comite ...</h4>
       
        <div id="rec-pro">
            <h4>St : 4</h4>
            <div>
                <i class="material-icons" *ngFor=" let tab of star_table">{{tab}}</i>
               
            </div>
        </div>
        <h3>3500 cfa</h3>
        
    </div>
</div>
