$menu_width: 100px;
.base {
    width: 100%;
    position: relative;
    .telliya-menu {
        position: fixed;
        width: $menu_width;
        height: 100%;
        background-color: #193759;
    }
    .telliya-content {
        position: relative;
        left: $menu_width;
        width: calc(100% - 100px);
    }
}