$header_height: 60px;
$border: 0.4px solid #eeeeee;
$menu_width: 200px;
$func_menu_height: 45px;
.base {
    width: 100%;
    position: relative;
    .telliya-header {
        width: 100%;
        height: $header_height;
        position: fixed;
        z-index: 2;
        top: 0px;
        border-bottom: $border;
        background-color: inherit;
    }
    .telliya-menu {
        @media screen and (max-width: 600px) {
            display: none;
        }
        width: $menu_width;
        height: calc(100% - #{$header_height});
        position: fixed;
        background-color: white;
        top: $header_height;
        border-right: $border;
    }
}

.content {
    @media screen and (max-width: 600px) {
        width: 100%;
        left: 0;
    }
    width: calc(100% - #{$menu_width});
    position: relative;
    top: $header_height;
    left: $menu_width;
    background-color: inherit;
    .func-menu {
        position: fixed;
        width: 100%;
        height: $func_menu_height;
        background-color: white;
        z-index: 1;
        box-shadow: 0px 4px 8px rgba($color: #000, $alpha: .05);
    }
    .func-content {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}